Q 1. Explain with an example each when to use a for loop and a while loop.

Answer :

Use of "for loop" 
* we use for lop when we know the number of iteration or specific element we want to iterate.
* For loop is ver convenient for iterating the element , when we are working with List , Tuples or strings.

Example "For loop"

In [7]:
for i in range(8):
    print(i)

0
1
2
3
4
5
6
7

In [8]:
cars = ['BMW', 'Audi', 'Maruti']
for car in cars:
    print(car)

BMW
Audi
Maruti


Use of While Loop
* when we are not sure how many times a loop needs to run and the loop should continue until a certain condition is met, then a while loop is appropriate to use.
* When we need to repeat an action until a certain condition is met then While loop is best to use.

Example "While loop"

In [9]:
count = 0
while count < 8:
    print(count)
    count += 1

0
1
2
3
4
5
6
7

In [11]:
total = 0
while total < 50:
    number = int(input("Enter a number: "))
    total += number
    print("Current total:", total)

Enter a number:  20

Current total: 20

Enter a number:  30

Current total: 50

Q 2. Write a python program to print the sum and product of the first 10 natural numbers using for and while loop.
 
Answer:

In [12]:
# for loop 

result = 0
product = 1

for i in range(1,11):
    result = result + i
    product = product * i
print("using For Loop")
print("........................")
print("sum of first 10 naturals number s :" , result)
print("product of first 10 naturals numbers :" , product)

using For Loop
........................
sum of first 10 naturals number s : 55
product of first 10 naturals numbers : 3628800

In [13]:
# while loop
counter = 1
result = 0
product = 1

while counter <= 10 :
    result = result + counter
    product = product * counter
    counter = counter + 1
    
print("using while Loop")
print("........................")   
print("sum of first 10 naturals numbers :" , result)
print("product of first 10 naturals numbers :" , product)

using while Loop
........................
sum of first 10 naturals numbers : 55
product of first 10 naturals numbers : 3628800

Q 3. create a python program to compute the electricity bill for a household.
The per-unit charges in rupees are as follows: For the first 100 units, the user will be charged Rs. 4.5 per
unit, for the next 100 units, the user will be charged Rs. 6 per unit, and for the next 100 units, the user will
be charged Rs. 10 per unit, After 300 units and above the user will be charged Rs. 20 per unit.

You are required to take the units of electricity consumed in a month from the user as input.

Your program must pass this test case: when the unit of electricity consumed by the user in a month is
310, the total electricity bill should be 2250.

Answer:

In [14]:
units  = int(input("Enter the units of electricity consumed : "))
total_bill = 0

#for 1st 100 units at cost 4.5/unit
if units > 0:
    total_bill += min(units, 100) * 4.5
    units -= min(units, 100)

#for 2nd 100 units at cost 6/unit
if units > 0:
    total_bill += min(units, 100) * 6
    units -= min(units, 100)

#for 3rd 100 units at cost 10/unit
if units > 0:
    total_bill += min(units, 100) * 10
    units -= min(units, 100)

#for rest of the units at cost 10/unit
if units > 0:
    total_bill += units * 20

print("The total electricity bill is Rs.", total_bill)

Enter the units of electricity consumed :  310

The total electricity bill is Rs. 2250.0

Q 4.  Create a list of numbers from 1 to 100. Use for loop and while loop to calculate the cube of each
number and if the cube of that number is divisible by 4 or 5 then append that number in a list and print
that list.

In [15]:
l= list(range(1,101))
print("list of number from 1 to 100 \n")
print(l)

l1=[]

print("\ncube of each number in th list \n")
for i in l:
    print(i**3)
    
    if (i**3)% 4 == 0 or (i**3)% 5 == 0 :
        l1.append(i)
        
print("\nlist conatining number whose cube is divisible by 4 or 5 \n")
print(l1)

list of number from 1 to 100

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

cube of each number in th list

1
8
27
64
125
216
343
512
729
1000
1331
1728
2197
2744
3375
4096
4913
5832
6859
8000
9261
10648
12167
13824
15625
17576
19683
21952
24389
27000
29791
32768
35937
39304
42875
46656
50653
54872
59319
64000
68921
74088
79507
85184
91125
97336
103823
110592
117649
125000
132651
140608
148877
157464
166375
175616
185193
195112
205379
216000
226981
238328
250047
262144
274625
287496
300763
314432
328509
343000
357911
373248
389017
405224
421875
438976
456533
474552
493039
512000
531441
551368
571787
592704
614125
636056
658503
681472
704969
729000
753571
778688
804357
830584
857375
884736
912673
941192
970299
1000000

list conatining number whose cube is divisible by 4 or 5

[2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]

In [1]:
# using while loop

l= list(range(1,101))
print("list of number from 1 to 100 \n")
print(l)

l1=[]
counter = 1
print("\ncube of each number in th list \n")

while counter <= l[-1]:
    print(counter**3)
    
    if (counter**3)% 4 == 0 or (counter**3)% 5 == 0 :
        l1.append(counter)
    counter += 1

print("\nlist conatining number whose cube is divisible by 4 or 5 \n")
print(l1)

list of number from 1 to 100

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

cube of each number in th list

1
8
27
64
125
216
343
512
729
1000
1331
1728
2197
2744
3375
4096
4913
5832
6859
8000
9261
10648
12167
13824
15625
17576
19683
21952
24389
27000
29791
32768
35937
39304
42875
46656
50653
54872
59319
64000
68921
74088
79507
85184
91125
97336
103823
110592
117649
125000
132651
140608
148877
157464
166375
175616
185193
195112
205379
216000
226981
238328
250047
262144
274625
287496
300763
314432
328509
343000
357911
373248
389017
405224
421875
438976
456533
474552
493039
512000
531441
551368
571787
592704
614125
636056
658503
681472
704969
729000
753571
778688
804357
830584
857375
884736
912673
941192
970299
1000000

list conatining number whose cube is divisible by 4 or 5

[2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]

Q 5.  Write a program to filter count vowels in the below-given string.

string = "I want to become a data scientist"

Answer:

In [6]:
string = "I want to become a data scientist"
vowels= "AEIOUaeiou"

count = 0
for i in string :
    if i in vowels:
        print(i)
        count = count+1
        
print("number of vowels in given string are:", count)

I
a
o
e
o
e
a
a
a
i
e
i
number of vowels in given string are: 12