Q1. Write a program to accept percentage from the user and display the grade according to the following criteria:
    
    marks > 90 .... grade A
    >80 and <=90 .... B
    >=60 and <=80 ... C
    below 60 ........ D

In [24]:
percentage = float(input("Enter the percentage: "))

if percentage > 90:
    grade = 'A'
elif 80 < percentage <= 90:
    grade = 'B'
elif 60 <= percentage <= 80:
    grade = 'C'
else:
    grade = 'D'

print("Grade:",grade)

Enter the percentage:  94

Grade: A

Q2. Write a program to accept the cost price of a bike and display the road tax to be paid according to the following criteria:

    Tax ... cost price(in rs) 
   
    15% .... > 100000
   
    10 % .... >50000 and <=100000
    
    5% ....... <= 50000

In [25]:
cost_price = float(input("Enter the cost price of the bike (in Rs): "))

if cost_price > 100000:
    road_tax = cost_price * 0.15
elif 50000 < cost_price <= 100000:
    road_tax = cost_price * 0.10
else:
    road_tax = cost_price * 0.05

print(f"Road tax to be paid: Rs ", road_tax)

Enter the cost price of the bike (in Rs):  75000

Road tax to be paid: Rs  7500.0

Q3. Accept any city from the user and display monuments of that city.

City ....... Monument

Delhi ...... Red Fort

Agra ....... Taj Mahal

Jaipur ...... Jal Mahal

In [ ]:
city = input("Enter the city name:")

if city == "Delhi":
    print("place to visit : Red Fort")
elif city == "Agra":
    print("place to visit : Taj Mahal")
elif city == "Jaipur":
    print("place to visit : jal Mahal")

Enter the city name: Jaipur

Q4. Check how many times a given number can be divided by 3 before it is less than or equal to 10

In [1]:
number = int(input("enter the number "))

count = 0
while number > 10:
    number = number / 3
    count = count + 1
print('Total iteration required', count)

enter the number  81

Total iteration required 2

Q5. Why and When to use while loop in python give a detailed description with example.

Answer:
    
1. A while loop is a control flow statement which allows code to be executed repeatedly, depending on whether a condition is satisfied or not.
2. As long as some condition is true, 'while' repeats everything inside the loop block. 
3. It stops executing the block if and only if the condition fails.

Q6. Use nested while loop to print 3 different pattern.

In [11]:
i=1
while i<=5:
    j=1
    while j<=i:
        print("*",end=" ")
        j=j+1
    print("")
    i=i+1

*
* *
* * *
* * * *
* * * * *

In [16]:
i = 5
while i >= 1:
    j = 1
    while j <= i:
        print("*", end=" ")
        j += 1
    print("")
    i -= 1

* * * * *
* * * *
* * *
* *
*

In [19]:
size = 5
i = 0
while i < size:
    j = 0
    while j < size - i - 1:
        print(' ', end='')
        j += 1
    k = 0
    while k < 2 * i + 1:
        print('*', end='')
        k += 1
    print()
    i += 1

    *
   ***
  *****
 *******
*********

Q7. Reverse a while loop to display numbers from 10 to 1.

In [20]:
i = 10
while i >= 1:
    print(i, end=" ")
    i -= 1

10 9 8 7 6 5 4 3 2 1

Q8. Reverse a while loop to display numbers from 10 to 1

In [21]:
i = 10
while i >= 1:
    print(i, end=" ")
    i -= 1

10 9 8 7 6 5 4 3 2 1